{% extends "layout.html" %}
{% block content %}

<div class="row">
  <form method="POST" class="col-12">
       <div class="col-md-12 col-md-offset-8" align="text-center">
          <div class="input-group text-center">
            <input type="text" class="form-control form-control-sm" name="productId" value="{{productId}}" placeholder="enter product id">

	    <span> <button type="submit"  class="btn-group btn-group-sm float-right">search</button> </span> 
          </div> 
  </form>
  </div>
  <br>
  <br>

{% if product_id %}
  <div>
  <div>
	<h4>{{product_name}}</h4> 
  </div> 
<table class="table table-condensed table-striped">
  <tbody>
      <th> </th> 
      <th>Feature</th>
      <th>Rating</th>
      <th>Top positive review</th> 
      <th>Top negative review</th> 
      <tr>
      <th> </th> 
      <td scope="col">Car Fit</td>
      <td scope="col">{{topic_sentiment.car_fit}}</td>
         <td scope="col">{{positive_reviews.car_fit}}</td>
       <td scope="col">{{negative_reviews.car_fit}}</td>
    </tr>
    </tr>
     <tr>
      <th> </th>
      <td scope="col">Child Fit</td>
      <td scope="col">{{topic_sentiment.child_fit}}</td>
         <td scope="col">{{positive_reviews.child_fit}}</td>
       <td scope="col">{{negative_reviews.child_fit}}</td>
    </tr>
    <tr>
      <th> </th>
      <td scope="col">Comfort</td>
      <td scope="col">{{topic_sentiment.comfort}}</td>
      <td scope="col">{{positive_reviews.comfort}}</td>
      <td scope="col">{{negative_reviews.comfort}}</td>
    </tr>
    <tr>
      <th> </th>
      <td scope="col">Ease of Install</th>
      <td>{{topic_sentiment.ease_of_install}}</td>
      <td scope="col">{{positive_reviews.ease_of_install}}</td>
      <td scope="col">{{negative_reviews.ease_of_install}}</td>
    </tr>
    <tr>
      <th> </th>
      <td scope="col">Material</th>
      <td>{{topic_sentiment.material}}</td>
      <td>{{positive_reviews.material}}</td>
      <td>{{negative_reviews.material}}</td>
    </tr>
    <tr>
      <th> </th>
      <td scope="col">Price</th>
      <td>{{topic_sentiment.price}}</td>
      <td>{{positive_reviews.price}}</td>
      <td>{{negative_reviews.price}}</td>
    </tr>
  </tbody>
</table>
</div> 
{% endif %}
</div>
<br\>
<br\>

{% endblock content %}
